<table>
    <thead>
    <th>id</th>
    <th>Name</th>
    <th>Visits</th>
    </thead>
    <tbody>
    {{#each visitors }}
    <tr>
        <td>{{visitors}}</td>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{count}}</td>
    </tr>
    {{/each}}

    </tbody>
</table>